.admin-page {
  padding: 40px;
  color: white;
}

.admin-title {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.admin-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.admin-card {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  color: white;
}

.admin-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.admin-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.approve {
  background: #28a745;
  color: white;
}

.reject {
  background: #c82333;
  color: white;
}
