.cart-page {
  padding: 30px;
  color: white;
  background: #1f1f1f;
  min-height: 100vh;
}

.cart-item {
  display: flex;
  gap: 20px;
  background: #292929;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cart-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-info {
  flex: 1;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity-box button {
  width: 30px;
  height: 30px;
  background: orange;
  color: black;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.remove-btn {
  background: red;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 24px;
  color: orange;
}

.empty-cart {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
}
