.products-page {
  padding-top: 120px; /* below navbar */
  background: #222;
  min-height: 100vh;
  color: white;
}

/* Title */
.products-title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* PRODUCT GRID */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

/* CARD */
.product-card {
  width: 260px;
  background: white;
  color: black;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transition: 0.2s ease;
}

.product-card:hover {
  transform: scale(1.04);
}

/* IMAGE */
.product-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

/* TEXT */
.product-card-title {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.product-card-price {
  font-size: 18px;
  color: #c15b00;
  margin-top: 5px;
  font-weight: bold;
}
